# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =====================================
# Virtual Environment
# =====================================
.venv/
venv/
env/

# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# Pytest
# =====================================
.pytest_cache/

# =====================================
# VS Code
# =====================================
.vscode/